In [2]:
################################################################
#This file will summarize data from the "Heros of Pamoli" game#
###############################################################

In [2]:
#import dependencies
import pandas as pd
import numpy as np

In [3]:
#read the master data file and create a dataframe
masterFile = "Resources/purchase_data.csv"
master_df = pd.read_csv(masterFile)

In [4]:
master_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#Create a dataframe to display total number of players

In [6]:
unique_players=master_df["SN"].unique()

In [7]:
total_players=np.count_nonzero(unique_players)

In [8]:
total_players_df =pd.DataFrame([
    {"Total Players":total_players}])

In [9]:
total_players_df

   Total Players
0            576

In [10]:
#Create a dataframe to display basic info about purchases

In [11]:
unique_items=master_df["Item Name"].unique()

In [12]:
total_unique_items=np.count_nonzero(unique_items)

In [13]:
total_unique_items

179

In [14]:
average_price=master_df["Price"].mean()

In [15]:
average_price

3.050987179487176

In [16]:
total_purchases=master_df["Purchase ID"].count()

In [17]:
total_purchases

780

In [18]:
total_revenue=master_df["Price"].sum()

In [19]:
total_revenue

2379.77

In [20]:
basic_info = pd.DataFrame([
        {"Number of Unique Items": total_unique_items,
         "Average Price":average_price,
         "Number of Purchases": total_purchases,
         "Total Revenue": total_revenue}
    ])

In [21]:
basic_info

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [22]:
#create a dataframe to display the gender breakdown of players

In [23]:
unique_sn_df = master_df.drop_duplicates(subset='SN', keep="first")

In [24]:
male_players = unique_sn_df.loc[master_df["Gender"] == "Male", "Gender"]

In [25]:
male_players

0      Male
1      Male
2      Male
3      Male
4      Male
       ...
771    Male
773    Male
774    Male
777    Male
778    Male
Name: Gender, Length: 484, dtype: object

In [26]:
female_players = unique_sn_df.loc[master_df["Gender"] == "Female", "Gender"]

In [27]:
other_players = unique_sn_df.loc[master_df["Gender"] == "Other / Non-Disclosed", "Gender"]

In [28]:
playerCount_df = pd.DataFrame({ 
    "Gender": ["Female", "Male", "Other"],
    "Total Count": [female_players.count(), male_players.count(), other_players.count()],
   })

In [29]:
percent_gender = playerCount_df["Total Count"]/total_players*100

In [30]:
playerCount_df["Percentage of Players"] = percent_gender

In [31]:
playerCount_df

   Gender  Total Count  Percentage of Players
0  Female           81              14.062500
1    Male          484              84.027778
2   Other           11               1.909722

In [32]:
113+652+15

780

In [33]:
#Create a table of summary statistics concerning Male and Female purchases

In [88]:
female_purchases = master_df.loc[master_df["Gender"] == "Female", "Gender"] #female gender column

In [89]:
female_purchases.count() #female purhcase count

113

male_purchases = master_df.loc[master_df["Gender"] == "Male", "Gender"] #Male purchase table

In [90]:
male_purchases = master_df.loc[master_df["Gender"] == "Male", "Gender"] #Male gender column

In [57]:
male_buyers.count()

652

In [91]:
other_purchases = master_df.loc[master_df["Gender"] == "Other / Non-Disclosed", "Gender"] #Other gender purchase table

In [92]:
other_purchases.count()

15

In [94]:
male_table = master_df.loc[master_df["Gender"] == "Male", :] #Male purchase full table

In [95]:
male_average_price = male_table["Price"].mean()
male_average_price

3.0178527607361953

In [96]:
female_table = master_df.loc[master_df["Gender"] == "Female", :] #Female purchase full table

In [99]:
female_average_price=female_table["Price"].mean()
female_average_price

3.203008849557519

In [100]:
other_table = master_df.loc[master_df["Gender"] == "Other / Non-Disclosed", :] #Other purchase full table

In [102]:
other_average_price=other_table["Price"].mean()
other_average_price

3.3460000000000005

In [136]:
# Using GroupBy to get averages of all genders at once
grouped_gender_df = master_df.groupby(['Gender'])

#We can get the average gender prices with this command
gender_priceMean=grouped_gender_df["Price"].mean()
gender_purchaseCount=grouped_gender_df["Purchase ID"].count()

In [127]:
gender_stats_df = pd.DataFrame({"Average Purchase Price": gender_priceMean})

In [141]:
gender_stats_df = pd.DataFrame({"Purchase Count": gender_purchaseCount,
                                "Average Purchase Price": gender_priceMean
                               })

In [142]:
gender_stats_df

                       Purchase Count  Average Purchase Price
Gender
Female                            113                3.203009
Male                              652                3.017853
Other / Non-Disclosed              15                3.346000