In [2]:
import pandas as pd
import math

In [3]:
file = "../Resources/purchase_data.csv"

In [4]:
df = pd.read_csv(file)

In [5]:
#Drop duplicates
df.drop_duplicates(inplace = True)

In [6]:
#Get total number of players
players = df["SN"].unique()
playercount=len(players)

In [7]:
#Get Average Purchace Price
meanprice= round(df["Price"].mean(),2)

In [8]:
#Get Count of Purchases
purchasecount=len(df)

In [9]:
totalrevene = sum(df["Price"])

In [10]:
#Get count of male players
unique_df = df.drop_duplicates(subset = "SN")
males = unique_df.loc[unique_df["Gender"] == "Male"]
malecount = len(males)
#Get percentage of male players
malepercent = malecount/len(unique_df)

In [11]:
#Get count of female players
females = unique_df.loc[unique_df["Gender"] == "Female"]
femalecount = len(females)
#Get percentage of female players
femalepercent = femalecount/len(unique_df)
#Get purchase count of female players

In [12]:
others = unique_df.loc[unique_df["Gender"] == "Other / Non-Disclosed"]
othercount = len(others)
#Get percentage of female players
otherpercent = othercount/len(unique_df)

In [13]:
#Get male purchase count 
malebuyers = df.loc[df["Gender"] == "Male"]
m_purchasecount= len(malebuyers)
#Get male averate purchase price
m_avgprice = malebuyers["Price"].mean()
m_avgprice = round(m_avgprice, 2)
#Get male total value
m_totalvalue = sum(malebuyers["Price"])
#Get male average purchase total per user
mvalue_df = malebuyers.groupby(["SN"]).sum()
avgmalevalue= mvalue_df["Price"].mean()
avgmalevalue=round(avgmalevalue, 2)

In [14]:
#Get female purchase count
femalebuyers = df.loc[df["Gender"] == "Female"]
f_purchasecount= len(femalebuyers)
#Get female average purchase price
f_avgprice = femalebuyers["Price"].mean()
favgprice = round(f_avgprice, 2)
#Get female total value
f_totalvalue = sum(femalebuyers["Price"])
#Get male average purchase total per user
fvalue_df = femalebuyers.groupby(["SN"]).sum()
avgfemalevalue= fvalue_df["Price"].mean()
avgfemalevalue=round(avgfemalevalue, 2)

In [15]:
#Get other purchase count
otherbuyers = df.loc[df["Gender"] == "Other / Non-Disclosed"]
o_purchasecount= len(otherbuyers)
#Get other average purchase price
o_avgprice = otherbuyers["Price"].mean()
o_avgprice = round(o_avgprice, 2)
#Get other total value
o_totalvalue = sum(otherbuyers["Price"])
#Get male average purchase total per user
ovalue_df = otherbuyers.groupby(["SN"]).sum()
avgothervalue= ovalue_df["Price"].mean()
avgothervalue=round(avgothervalue, 2)

In [102]:
#Get purchase count for age groups
df["Age Binned"] = pd.cut(df.Age, bins = [0,10,15,20,25,30,35,40,45], labels = ["<=10", "11-15", "16-20", "21-25", "26-30", "31-35", "36-40", "41-45"])
agecount_df=df.groupby(["Age Binned"]).count()
purchasecount = agecount_df["Purchase ID"]
#Get average purchase price of agegroups:
ageavg_df= agecount_df=df.groupby(["Age Binned"]).mean()["Price"]
#Get average purchase price per person for age groups
agecount_df=df.groupby(["Age Binned"]).mean()
avg_price_age=agecount_df["Price"]

In [124]:
#Get top five spenders by total purchase value, then get table of all values assocated with these
sorted_spenders = grouped_sn.sum().sort_values(["Price"], ascending = False)
topfive=sorted_spenders.head(5)

In [106]:
grouped_sn=df.groupby(["SN"])

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      442  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10